#gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.card {
    width: 200px;
    text-align: center;
    align-content: center;
    background: rgba(255, 177, 88, 0.842);
}

.description {
    width: 80%;
    margin-left: 20px;
    margin-bottom: 20px;
}